:root{
    --KichThuoc: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.Ảnh{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}
.ảnh_1{
    width: 100%;
}
.Video_2{
    width: var(--KichThuoc);
    margin: auto;
    position: relative;
}
.video2{
    width: var(--KichThuoc);
}
.Video_3{
    width: var(--KichThuoc);
    margin: auto;
    position: relative;
}
.video3{
    width: var(--KichThuoc);
}
.Video_4{
    width: var(--KichThuoc);
    margin: auto;
    position: relative;
}
.video4{
    width: var(--KichThuoc);
}